*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --mainColor:#0A2447;
    --color1:#B5458D;
    --color2:#5AAA31;
    --color3:#66B2D6;
    --color4:#F59C00;
    --color5:#D32A17;
}
@font-face {
    font-family: futura-std;
    src: url(../font/Futura_Std_Book.otf);
    font-display: swap;
}
.container{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
/*:::::::::: HEADER :::::::::::::*/

.header{
    width: 100%;
    background-color: var(--mainColor);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 110px 5px;
    grid-template-areas: 
                            "content"
                            "colors";
}
.header__content{
    grid-area: content;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "logo search"
        "logo slogan";
}
.logo{
    grid-area: logo;
}
.search{
    grid-area: search;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding-right: 30px;
}
.search__box{
    position: relative;
    margin-top: 15px;
}
.search__label{
    position: absolute;
    top: 5px;
    left: 7px;
    color: #384D9F;
    font-size: 13px;
    font-weight: bold;
}
.search__input{
    padding-left: 25px;
    height: 24px;
    border: 2px solid #C6CCDC;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}
.search__input:focus{
    width: 250px;
    background-color: #FFF;
    color: #000;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}
.slogan{
    grid-area: slogan;
    font-family: futura-std;
    font-size: 18px;
    color: white;
    align-self: center;
    justify-self: end;
    padding-right: 30px;
}
.header__colors{
    grid-area: colors;
    width: 100%;
    height: 8px;
    display: flex;
    flex-direction: row;
}
.color{
    width: 20%;
}
.color:nth-child(1){
    background-color: var(--color1);
}
.color:nth-child(2){
    background-color: var(--color2);
}
.color:nth-child(3){
    background-color: var(--color3);
}
.color:nth-child(4){
    background-color: var(--color4);
}
.color:nth-child(5){
    background-color: var(--color5);
}

/*:::::::::::::: MENU NAV ::::::::::::::::::::*/

.nav{
    width: 100%;
    height: 32px;
    background-color: #384d9f;
    border: 1px solid #2f4186;
    border-left: 0;
    border-right: 0;
}

/*::::::::::::::::: MAIN :::::::::::::::::::::*/

.main{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banner img{
    width: 100%;
    height: auto;
}
.block{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.block__title{
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.block--1{
    justify-content: space-between;
}
.block--1 .block__title{
    text-transform: none;
    margin-bottom: 10px;
}
.block--2 .block__item{
    padding: 5px 15px;
}
.block--2 .block__item:hover{
    background-color: #6c7ee2;
}
.block--3{
    justify-content: space-evenly;
}
.selector{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.selector__options{
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: #5c5c5c;
    border-bottom: 1px solid #b0b7cb;
}
.selector__options span{
    border-right: 1px solid #E2E7F2;
    border-left: 1px solid #E2E7F2;
    border-top: 1px solid #E2E7F2;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.selector__options .active{
    background-color: #e2e7f2;
}
.selector__content{
    min-height: 100px;
    background-color: #e2e7f2;
    padding: 25px 0px;
}
.block--news{
    justify-content: space-evenly;
    position: relative;
    padding-bottom: 20px;
}
.news{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.news__title{
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
}
.news__excerpt{
    font-size: 14px;
}
.news__more{
    position: absolute;
    bottom:-10px;
    right:20px;
}
.sector{
    width: 20%;
}
.sector img{
    width: 100%;
}
.block--agenda{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 30px;
}
.block--agenda p{
    font-size: 14px;
}
.block--agenda a{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.block--agenda a:hover{
    text-decoration: underline;
}
.block--3, .block--news, .block--agenda{
    display: none;
    opacity: 0;
}
.selected{
    display: flex;
    opacity: 1;
}
/*:::::::::::::::: FOOTER ::::::::::::::::::::*/

.footer{
    display: flex;
    flex-direction: column;
}

.footer section:nth-child(1){
    background-color: #00204b;
    border-color: #0d1d34;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 15px;
}
.footer section:nth-child(1) i{
    color:#00204b;
    font-size: 25px;
    font-weight: bold;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__btn{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    /* transition: background .5s; */
}
.footer__btn:hover{
    background-color: #0d1d34;
}
.footer section:nth-child(2){
    height: 30px;
    width: 100%;
    font-size: 10px;
    font-weight: bold;
    align-self: center;
    background: #0d1d34;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer section:nth-child(3){
    background-color: #0E162D;
    height: 160px;
    padding:20px;
    font-size: 12px;
    line-height: 1.4;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
.footer section:nth-child(3) img{
    max-height: 64px;
    margin-top: 10px;
}